/* contents_title */

.contents__title {
  text-align: center;
  margin-bottom: 2rem;
}

/* google icon*/

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
}

/* <br/> */

.line__break {
  display: block;
}
@media screen and (min-width: 768px) {
  .line__break {
    display: none;
  }
}

/* font-size */

.small__font {
  font-size: var(--font-size-small);
}
.largeFont {
  font-size: var(--font-size-large);
}

/* .caution__text */

.caution__text {
  display: block;
  background: #ed1a3d;
  color: var(--color-white);
  padding: 0 1rem;
  margin: 1rem;
  border-radius: 5px;
}

/* underBar */

.underBar {
  border-bottom: 2px solid var(--color-yellow);
}
/* highlighting */
.highlighting {
  background: var(--color-yellow-20);
}
.manual__contents {
  width: 100%;
  max-width: 600px;
  padding: 1rem;
  margin: 0 auto;
}
.manual__wrap {
}

.manual__sub__title {
  text-align: center;
  margin-bottom: 2rem;
}
.manual__img {
  width: 100%;
}

.manual__list__box {
}
.manual__list,
.manual__item {
  /* display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center; */
}
.manual__list {
  width: 100%;
  padding: 0;
}
.manual__item {
  width: 100%;
  padding: 1rem 0 0 0;
}
.manual__text {
  width: 100%;
  word-wrap: break-word; /* 長い単語を途中で改行 */
  white-space: normal; /* 空白を折り返し可能にする */
}
.manual__strength {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}
/* 


----------select manual----------


*/
.manual__select {
}
.manual__select__img {
  margin: 0 auto;
  min-width: 300px;
  max-width: 600px;
}
.manual__select__list__box {
}
.manual__select__list,
.manual__select__item {
}
.manual__select__list {
}

.manual__select__item {
}
.manual__select__text {
  text-align: center;
}
.manual__select__roast__img {
  margin: 0 auto;
  max-width: 450px;
}
.manual__select__strength {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}
.manual__select__strength__img {
  margin: 0 0.5rem 0 0;
  max-width: 50px;
}
.manual__select__strength__text {
  width: fit-content;
}
/* 


----------edit manual----------


*/
.manual__edit {
}
.manual__edit__list__box {
}
.manual__edit__list {
}
.manual__edit__item {
}
.manual__edit__number {
}
.manual__edit__text {
}
.manual__edit__roast__list {
}
.manual__edit__roast__item {
}
.manual__edit__roast__img {
  max-width: 450px;
}
.manual__edit__aroma__list {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
}
.manual__edit__aroma__item {
  width: fit-content;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  padding: 0 0.5rem;
}
.manual__edit__strength {
}
@media screen and (min-width: 768px) {
  .manual__edit__aroma__list {
    flex-direction: row;
  }
  .manual__edit__aroma__item {
    padding: 0 0.5rem;
  }
}
