/* contents_title */
.contents__title {
  margin-bottom: 2rem;
  text-align: center;
}

.contents__subTitle {
  font-weight: bold;
  margin-bottom: 2rem;
  text-align: center;
}

/* google icon */
.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
}

/* line break */
.line__break {
  display: block;
}

@media screen and (min-width: 768px) {
  .line__break {
    display: none;
  }
}

/* font size */
.largeFont {
  font-size: var(--font-size-large);
}

.small__font {
  font-size: var(--font-size-small);
}

/* color */
.fontYellow {
  color: var(--color-yellow);
}

/* caution text */
.caution__text {
  background: #ed1a3d;
  border-radius: 5px;
  color: var(--color-white);
  display: block;
  margin: 1rem;
  padding: 0 1rem;
}

/* underBar */
.underBar {
  border-bottom: 2px solid var(--color-yellow);
}

/* highlighting */
.highlighting {
  background: var(--color-yellow-20);
}

/* section */
.section {
}

/* manual */
.container {
  margin: 0 auto;
  max-width: 600px;
  padding: 1rem;
  width: 100%;
}

.imgBox {
  width: 100%;
}

.imgBoxCaption {
  color: var(--color-gray);
  font-size: var(--font-size-small);
}

.item {
  padding: 1rem 0 0 0;
  width: 100%;
}

.item__description {
}

.item__title {
}

.list {
  padding: 0;
  width: 100%;
}

.listBox {
}

.nav {
  display: contents;
}

.nav__box {
}

.nav__item {
  align-items: center;
  border: 2px solid var(--color-gray);
  border-radius: 5px;
  box-shadow: 2px 2px 0 var(--color-box-shadow);
  color: var(--color-yellow);
  margin: 0.5rem;
  max-width: 150px;
  min-width: 150px;
  text-align: center;
  width: 100%;
}

.nav__item:active {
  box-shadow: unset;
  transform: translate(2px, 2px);
}

.nav__item:hover {
  color: var(--color-gray);
}

.nav__item > span {
  margin-top: 0;
}

.nav__list {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: auto;
  justify-content: space-around;
  max-width: 600px;
  padding: 1rem;
  width: 100%;
}

.strength {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  width: 100%;
}

.subTitle {
  margin-bottom: 2rem;
  text-align: center;
}

.text {
  white-space: normal;
  width: 100%;
  word-wrap: break-word;
}

.wrap {
}

/* NewUser */
.imagePopup::after {
  content: url("/images/png/menu-img.png");
  max-height: 60px;
  max-width: 60px;
}

.newuserImg {
  margin: 0 auto;
  max-width: 300px;
}

/* select manual */
.select__btn__item {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.select__button__imgBox.imgBox {
  display: block;
  margin: 0 auto;
  max-width: 300px;
  min-width: 250px;
}

.select__container {
  height: auto;
  width: 100%;
}

.select__imgBox {
  margin: 0 auto;
  max-width: 600px;
  min-width: 280px;
}

.select__item {
}

.select__itemGroup {
}

.select__list {
}

.select__listBox {
}

.select__roast__img.imgBox {
  margin: 0 auto;
  max-width: 450px;
}

.select__strength__imgBox.imgBox {
  margin: 0 0.5rem 0 0;
  max-width: 50px;
}

.select__strength__text {
  width: fit-content;
}

.select__text {
  text-align: center;
}

.strength__container {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  width: 100%;
}

/* edit manual */
.edit {
}

.editAromaItem {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  padding: 0 0.5rem;
  text-align: center;
  width: fit-content;
}

.editAromaList {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  width: 100%;
}

.editBtn {
  border-radius: 5px;
  font-size: var(--font-size-small);
  padding: 0.5rem;
}

.edit__img {
  max-width: 300px;
}

.editItem {
}

.editList {
}

.editListBox {
}

.editRoastImg {
  margin: 0 auto;
  max-width: 450px;
}

.editStrengthBox {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.editStrengthImg {
  height: auto;
  max-width: 100px;
}

.editStrengthText {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  padding-left: 1rem;
}

.editText {
}

@media screen and (min-width: 768px) {
  .editAromaItem {
    padding: 0 0.5rem;
  }

  .editAromaList {
    flex-direction: row;
  }
}

/* popup */
.popup {
  bottom: 0;
  height: 100%;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
}

.popupContents {
  background: var(--color-white);
  border: 5px solid var(--color-yellow);
  border-radius: 30px;
  height: 100%;
  left: 0;
  margin: 0 auto;
  max-height: 600px;
  max-width: 800px;
  overflow: scroll;
  padding: 2em;
  position: absolute;
  right: 0;
  top: 60px;
  width: 100%;
}

.popupCover {
  background: var(--color-box-shadow);
  height: 100%;
  width: 100%;
}

.popupDetail {
  color: var(--color-yellow);
}

.popupMenuBar {
  background: var(--color-yellow);
  display: block;
  height: 2px;
  margin: 0 auto;
  width: 30px;
}

.popupMenuBar:nth-child(1) {
  transform: rotate(45deg) translateY(2px);
}

.popupMenuBar:nth-child(2) {
  transform: rotate(-45deg) translateY(-2px);
}

.popupOpen {
  background: var(--color-white);
  border: 2px solid var(--color-yellow);
  box-shadow: 2px 2px 0px var(--color-box-shadow);
  color: var(--color-yellow);
}

.popupOpen:active {
  box-shadow: unset;
  transform: translate(2px, 2px);
}

.popupSubTitle {
  height: 100%;
  line-height: normal;
  width: 100%;
}

.popupSubTitle::before {
  color: var(--color-yellow);
  content: "●";
  display: inline-block;
  height: 1em;
  vertical-align: text-top;
  width: 1em;
}

.popupTableBox {
  margin: 1rem auto;
}

.popupText {
  height: 100%;
  margin-top: 1rem;
  width: 100%;
}

.popupTitle {
  height: 100%;
  line-height: normal;
  width: 100%;
}

.popupTitle::before {
  background-color: var(--color-yellow);
  content: "";
  display: inline-block;
  height: 1em;
  margin: 0 0.5rem;
  vertical-align: middle;
  width: 0.5rem;
}

.popupWrap {
  bottom: 0;
  height: 100%;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: var(--z-index-popup);
}

.visuallyHidden {
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px !important;
  overflow: hidden;
  position: absolute;
  width: 1px;
}

@media screen and (min-width: 768px) {
  .popupContents {
    top: 100px;
  }

  .popupText,
  .popupContents {
    top: 100px;
  }
}
