/* 

----------container----------

*/
.container {
  width: 100%;
  margin: 0 auto;
  /* padding-bottom: 1rem; */
  max-width: var(--width-content);
}
.container-s {
  width: 95%;
  margin: 0 auto;
  /* padding-bottom: 1rem; */
  max-width: var(--width-content-s);
}
/* 

----------main----------

*/
.main {
  width: 100%;
  height: auto;
  margin: 60px auto 0px;
  /* margin: 60px auto 2rem; */
}
.main_contents {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .main {
    margin: 100px auto;
    /* margin: calc(100px + 2rem) auto 2rem; */
  }
}
/*

----------contents----------

*/
.contents {
  margin: 0 1rem;
}
/* error */
.error__message {
  text-align: center;
}

/* 
-----contents_title-----
 */
.contents__title {
  text-align: center;
  margin-bottom: 2rem;
}
/*  
----------google icon----------

*/

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
}
/* -----<br/>--- */
.line__break {
  display: block;
}
@media screen and (min-width: 768px) {
  .line__break {
    display: none;
  }
}
/* font-size */
.small__font {
  font-size: var(--font-size-small);
}
.largeFont {
  font-size: var(--font-size-large);
}
/* .caution__text */
.caution__text {
  display: block;
  background: #ed1a3d;
  color: var(--color-white);
  padding: 0 1rem;
  margin: 1rem;
  border-radius: 5px;
}
/* underBar */
.underBar {
  border-bottom: 2px solid;
}
/* 

---------------select ---------------


*/

.select__img_box {
  height: 24px;
  width: 24px;
  margin-top: 0;
}

.select__header {
  width: 100%;

  height: auto;
}

.select__header__nav {
  width: 100%;
  max-width: 320px;
  height: inherit;
}
.select__menu_list {
  width: inherit;
  height: inherit;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
}
.select__header__nav__item {
  width: 48px;
  height: 48px;
  border: 0.5px solid var(--color-yellow);
  box-shadow: 1px 1px 0 var(--color-box-shadow);
}
.select__menu__btn__white {
  padding: 0.5rem;
  background: var(--color-white);
  border: 2px solid var(--color-yellow);
  border-radius: 5px;
  color: var(--color-yellow);
}
.select__menu_btn_yellow {
  padding: 0.5rem;
  background: var(--color-yellow);
  border: 2px solid var(--color-yellow);
  border-radius: 5px;
  color: var(--color-white);
}
.select__contents {
  width: 100%;
  height: auto;
}
.select__beans_data {
  width: 100%;
  height: 100px;
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.select__beans__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  position: absolute;
  left: 0;
}
.select__beans__list__item {
  width: 100px;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 1rem;
}
.select__beans__list__item:not(
    .select__roast,
    .select__aroma,
    .select__cleancap,
    .select__mouthfeel,
    .select__after,
    .select__balance,
    .select__total
  ),
.select__list:not(
    .select__roast,
    .select__aroma,
    .select__cleancap,
    .select__mouthfeel,
    .select__after,
    .select__balance,
    .select__total
  ) {
  min-height: 50px;
}
.select__roast {
  min-height: 80px;
}
.select__aroma {
  min-height: 200px;
}
.select__cleancap,
.select__mouthfeel,
.select__after,
.select__balance,
.select__total {
  min-height: 65px;
}

.select__beans__list__item:nth-child(2n-1),
.select__list:nth-child(2n-1) {
  background: var(--color-yellow-10);
}

.select__header__nav__btn {
  margin: 0 auto;
  width: inherit;
  height: inherit;
}
.select__header__active_contents {
  width: 100%;
  height: auto;
}
.select__header__active__menu {
  width: 100%;
  min-width: 300px;
  max-width: 500px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
  margin: 1rem auto;
}
.select__header__active__menu__item {
  text-align: center;
  margin: 0.5rem 0;
}
.select__list {
  width: 100%;
  height: 100%;
  display: flex;

  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.select__scroll__container::-webkit-scrollbar {
  height: 14px; /* スクロールバーの高さ */
}

.select__scroll__container::-webkit-scrollbar-thumb {
  background: var(--color-yellow); /* ツマミの色 */
  border-radius: 7px; /* ツマミ両端の丸み */
}

.select__scroll__container::-webkit-scrollbar-track {
  background: var(--color-yellow-40); /* トラックの色 */
  border-radius: 7px; /* トラック両端の丸み */
}
.select__scroll__container {
  width: 100%;
  max-width: 1000px;
  height: auto;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: flex-start;
  flex-direction: row;
  overflow-x: unset;
  padding-bottom: 1rem;
  position: relative;
}
.select__beans {
  width: 100%;
  min-width: 200px;
  max-width: 200px;
  border-left: 5px dashed var(--color-yellow-80);
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  position: relative;
}
.select__beans:hover .select__list {
  background: var(--color-yellow-40);
}
.select__beans:first-child {
  border-left: none;
}
.select__delete_list {
  width: 100%;
  height: auto;
}
.select__beans__link {
  width: 100%;
  height: 100%;
}
.select__beans__value {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: stretch;
  margin-left: 100px;
}

.select__beans__list__title {
  width: 100%;
  display: inline-block;
  padding-bottom: 0.5rem;
  font-size: var(--font-size-base);
  color: var(--color-yellow);
  margin-top: 0;
}
.select__total__wrap {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}
.select__total_title {
  width: auto;
  display: inline-block;
  padding: 0.5rem;
  font-size: var(--font-size-large);
  color: var(--color-yellow);
}
.select__value {
  width: 100%;
  height: auto;
  text-align: center;
  overflow: hidden; /* 内容がオーバーフローした場合に隠す */
  text-overflow: ellipsis; /* 切り詰められたテキストの末尾に省略記号 (...) を追加 */
}
@media screen and (min-width: 1000px) {
  .select__value {
    word-wrap: break-word; /* 長い単語やメールアドレスを改行 */
    overflow-wrap: break-word; /* 古いブラウザでのサポート */
  }
}

.select__total__value {
  width: 100%;
  height: auto;
}
input[type="range"].select__input__roast {
  width: 90%;
  height: 15px;
  border-radius: 10px;
  -webkit-appearance: none;
  appearance: none;
  background: var(--color-linear-gradient-linear);
}
.select__input__roast[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  background: var(--color-black);
  border-radius: 5px;
  width: 5px;
  height: 20px;
}
.select__btn {
  width: 48px;
  height: 48px;
  border: 0.5px solid var(--color-yellow);
  box-shadow: 1px 1px 0 var(--color-box-shadow);
}
.select__btn_box {
  width: auto;
  height: auto;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.aroma__box {
  display: grid;
  align-items: stretch;
  justify-items: center;
}
.aroma__header {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  grid-area: 1 / 2 / 2 / 5;
}
.aroma__header__title {
  writing-mode: vertical-rl;
  text-orientation: upright;
  color: var(--color-yellow);
  font-weight: unset;
}
.aroma__value {
  width: 3em;
  grid-area: 1 / 1 / 4 / 2;
}
.aroma__value__list {
}
.aroma__value__list:first-child {
  height: 4em;
}
.aroma__value__strength,
.aroma_value__Quality {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
}
.aroma__value__strength {
  grid-area: 2 / 2 / 3 / 5;
}
.aroma_value__Quality {
  grid-area: 3 / 2 / 4 / 5;
}
.aroma__value__Item {
  width: 1em;
}

.select__largeTxt {
  font-size: var(--font-size-large);
}
.select__smallTxt:nth-child(2) {
  padding: 0 0.5rem;
}
.select__aroma_value {
  font-size: var(--font-size-small);
}

.select__result__text {
  font-weight: bold;
}
.select__total__text {
  font-size: var(--font-size-large);
  color: var(--color-yellow);
}
.select__checkbox {
  width: 100%;
  height: 100%;
}
.select__checkbox__input {
}
@media screen and (min-width: 1000px) {
  .select__beans__list {
    flex-direction: row;
    position: unset;
  }
  .select__beans__list__item:not(
      .select__roast,
      .select__cleancap,
      .select__mouthfeel,
      .select__total
    ),
  .select__list:not(
      .select__roast,
      .select__cleancap,
      .select__mouthfeel,
      .select__total
    ) {
    min-height: unset;
  }
  .select__beans__list__item {
    writing-mode: vertical-rl;

    text-orientation: upright;
  }
  .select__beans__list__item,
  .select__list {
    width: 100%;
    max-width: 65px;
    min-width: 65px;
    height: auto;
  }

  .select__beans__list__item:nth-child(2n-1) {
    border-bottom: 2px solid var(--color-white);
  }

  .select__contents {
    width: 100%;
    height: auto;
  }

  .select__scroll__container {
    width: 100%;
    max-width: none;
    height: 100%;
    overflow-x: unset;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
  }

  .select__beans {
    min-width: auto;
    max-width: none;
    height: 100%;
    justify-content: center;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: stretch;
    border-left: none;
  }

  .select__beans__link {
    width: 100%;
    height: auto;
  }
  .select__beans__value {
    flex-wrap: nowrap;
    flex-direction: column;
    margin-left: 0;
    margin: 0 auto;
    min-width: 1000px;
    max-width: 1000px;
  }

  .select__beans_data {
    width: auto;
    height: auto;
    margin: 0;
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border: unset;
  }

  .select__list {
    width: 100%;
    max-width: none;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    align-items: center;
    justify-items: stretch;
    margin: 0;
    border: none;
    flex-direction: row;
    min-height: 0;
  }

  .select__list:nth-child(2n-1) {
    border-bottom: 1px solid var(--color-white);
  }
  .select__list:nth-child(2n) {
    border-bottom: 2px solid var(--color-yellow-10);
  }

  .select__beans__list__title {
    display: contents;
    padding: 0;
    font-size: var(--font-size-base);
    color: var(--color-yellow);
    letter-spacing: -0.01em;
  }

  .select__value {
    width: 100%;
    height: auto;
    padding: 0;
  }

  .select__date {
    display: inline-block;
    margin-right: 1rem;
  }
  .select__index {
    min-width: 40px;
    max-width: 40px;

    text-align: center;
  }
  .select__coffee {
    min-width: 80px;
    max-width: 80px;
    width: 100%;
  }
  .select__roast {
    max-width: 100px;
    min-width: 100px;
  }
  .select__aroma {
    width: 100%;
    max-width: 130px;
    min-width: 130px;
    text-align: center;
    min-height: 100px;
  }
  .select__defects {
    max-width: 65px;
    min-width: 65px;
  }
  .select__cleancap {
    max-width: 65px;
    min-width: 65px;
  }
  .select__sweet {
    max-width: 65px;
    min-width: 65px;
  }
  .select__acidity {
    max-width: 65px;
    min-width: 65px;
  }
  .select__mouthfeel {
    max-width: 65px;
    min-width: 65px;
  }
  .select__flavor {
    max-width: 65px;
    min-width: 65px;
  }
  .select__after {
    max-width: 65px;
    min-width: 65px;
  }
  .select__balance {
    max-width: 65px;
    min-width: 65px;
  }
  .select__overall {
    max-width: 65px;
    min-width: 65px;
  }
  .select__total {
    max-width: 65px;
    min-width: 65px;
  }
  .select__checkbox {
    width: 100%;
    max-height: none;
    /* min-width: 24px;
    max-width: 24px; */
  }
  .select__smallTxt {
    color: var(--color-yellow);
    font-weight: bold;
    font-size: var(--font-size-xsmall);
  }

  .select__largeTxt {
    font-size: var(--font-size-large);
  }

  .select__btn_box {
    width: 150px;
    flex-direction: column;
  }
}

/* 




----------edit----------





*/

.edit__yellow {
  color: var(--color-yellow);
}
.edit_point {
  position: relative;
  width: 100%;
  height: auto;
  top: 15px;
}

.edit_point_btn {
  width: 30px;
  height: 30px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  margin: 0;
  position: absolute;
  top: 0%;
  left: 50%;
  border: 2px solid var(--color-yellow);
  border-radius: 50px;
  z-index: 1;
  transform: translate(-50%, -50%);
}

.edit__point__memo {
  /* display: none; */
  display: block;
}
.edit__point__text {
  width: 100%;
  text-align: center;
  color: var(--color-yellow-80);
}
.edit__point__list {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}
.active > .edit_point_tail {
  display: none;
}

.active > .edit_point_btn {
  background: var(--color-white);
}

.edit_point_list {
  display: none;
}
.active > .edit__point__memo {
  width: 100%;
  height: auto;
  font-size: var(--font-size-small);
  color: var(--color-black);
  border: 2px solid var(--color-yellow);
  border-radius: 10px;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: flex-start;
  background: var(--color-white);
  padding: 1rem;
  z-index: 0;
}

.edit_number {
  position: fixed;
  top: 100px;
  right: 0;
  z-index: var(--z-index-popup);
  margin: 1rem;
  padding: 1rem;
  border-radius: 10px;
  background: var(--color-yellow);
  color: var(--color-white);
  text-align: start;
}
.active.edit_number {
  width: auto;
  height: 80vh;
  overflow-y: scroll;
}

.edit_number_list {
  display: none;
}
.active > .edit_number_list {
  display: flex;
  align-items: flex-start;

  flex-wrap: wrap;
  align-content: flex-start;
  padding: 1rem;
  gap: 1rem;
  justify-content: center;

  flex-direction: column;
}

.edit_number_item {
  width: auto;
}

.edit_number_sup {
  margin: 1rem;
  color: var(--color-black);
  font-size: var(--font-size-small);
  font-weight: 600;
}
@media screen and (min-width: 1000px) {
  .edit_number_list {
    text-align: left;
  }
}

.edit__contents {
  width: 100%;
  display: block;
}
.edit_list {
  width: 100%;
  height: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  align-content: center;
  gap: 1rem;
  justify-content: center;
  justify-items: center;
  margin: 2rem auto;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .edit_list {
    min-width: 768px;
  }
}
@media screen and (min-width: 1000px) {
  .edit_list {
    max-width: 1000px;
  }
}
.edit_item {
  width: 100%;
  max-width: 500px;
  height: 100%;
  margin-bottom: 1rem;
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: space-between;
  position: relative;
}
.edit_list_header {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  max-width: 500px;
  margin: 0 auto;
}
.edit_date {
  display: block;
  text-align: right;
}
.edit_item_data {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.edit_input_box {
  width: 100%;
  position: relative;
}
.edit__item__messageBox {
  width: 100%;
  height: auto;
  margin-top: 3rem;
}
.edit__item__message {
  width: 95%;
  /*　field-sizing: content; は、未対応のブラウザーがある為コメントアウト  */
  /* field-sizing: content; */
}

.edit_output_name {
  width: 100%;
}
.slider-container {
  position: relative;
  width: 90%;
  margin: 20px auto;
  height: 40px;
}
.edit__output__value {
  position: absolute;
  bottom: 15%;
  left: 0;
  right: 0;
}
.edit_select_value {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  max-width: 180px;
  margin: 0 auto;
}
.edit__input__roast {
  width: 100%;
  height: 30px;
  -webkit-appearance: none;
  appearance: none;
  background: linear-gradient(to right, #f5d0a9, #8b4513);
  outline: none;
  border-radius: 10px;
}
.edit__input__roast::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 5px;
  height: 30px;
  background-color: yellow;
  cursor: pointer;
  border-radius: 5%;
}
.ticks {
  position: absolute;
  top: calc(1rem + 30px);
  left: 0;
  width: 100%;
  height: 5px;
  display: flex;
  justify-content: center;
  padding: 0;
  box-sizing: border-box;
}
.tick {
  width: 3px;
  height: 10px;
  background-color: var(--color-black);
}
.tick:first-child {
  position: absolute;
  top: 0;
  left: 0;
}
.tick:first-child::before {
  content: "ライト";
  font-size: var(--font-size-small);
  letter-spacing: 0;
  position: absolute;
  top: 10px;
}
.tick:nth-child(2) {
  position: absolute;
  top: 0;
  left: 16%;
}
.tick:nth-child(2)::before {
  content: "シナモン";
  font-size: var(--font-size-small);
  position: absolute;
  top: 10px;
  right: -5px;
}
.tick:nth-child(3) {
  position: absolute;
  top: 0;
  left: 31%;
}
.tick:nth-child(3)::before {
  content: "ミディアム";
  font-size: var(--font-size-small);
  position: absolute;
  top: 10px;
  right: -5px;
}
.tick:nth-child(4) {
  position: absolute;
  top: 0;
  left: 46%;
}
.tick:nth-child(4)::before {
  content: "ハイ";
  font-size: var(--font-size-small);
  position: absolute;
  top: 10px;
  right: -5px;
}
.tick:nth-child(5) {
  position: absolute;
  top: 0;
  right: 39%;
}
.tick:nth-child(5)::before {
  content: "シティ";
  font-size: var(--font-size-small);
  position: absolute;
  top: 10px;
  right: -5px;
}
.tick:nth-child(6) {
  position: absolute;
  top: 0;
  right: 24%;
}
.tick:nth-child(6)::before {
  content: "フルシティ";
  font-size: var(--font-size-small);
  position: absolute;
  top: 10px;
  right: -5px;
}
.tick:nth-child(7) {
  position: absolute;
  top: 0;
  right: 9%;
}
.tick:nth-child(7)::before {
  content: "フレンチ";
  font-size: var(--font-size-small);
  position: absolute;
  top: 10px;
  right: -5px;
}
.tick:last-child {
  position: absolute;
  top: 0;
  right: 0;
}
.tick:last-child::before {
  content: "イタリアン";
  font-size: var(--font-size-small);
  position: absolute;
  top: 10px;
  right: 0;
}
.labels {
  position: absolute;
  top: 35px;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0;

  box-sizing: border-box;
  font-size: 10px;
  color: #888;
}

.labels span:first-child {
  position: absolute;
  top: 0;
  left: 0;
}
.labels span:nth-child(2) {
  position: absolute;
  top: 0;
  left: 16%;
}
.labels span:nth-child(3) {
  position: absolute;
  top: 0;
  left: 30%;
}
.labels span:nth-child(4) {
  position: absolute;
  top: 0;
  left: 45%;
}
.labels span:nth-child(5) {
  position: absolute;
  top: 0;
  right: 40%;
}
.labels span:nth-child(6) {
  position: absolute;
  top: 0;
  right: 25%;
}
.labels span:nth-child(7) {
  position: absolute;
  top: 0;
  right: 10%;
}
.labels span:last-child {
  position: absolute;
  top: 0;
  right: 0;
}
.edit_overall {
  justify-content: flex-start !important;
}
.edit_item_value {
  display: inline-block;
  width: auto;
  margin: 0.5rem;
  font-size: var(--font-size-small);
  text-align: center;
}
.edit__item__value__box {
  width: 100%;
  margin: 1rem 0;
  position: relative;
}

.edit_item.mouthfeel,
.edit_item.acidity {
  justify-content: flex-start !important;
}

.edit_item_title {
  /* border-bottom: 3px solid var(--color-yellow); */
  color: var(--color-yellow);
  font-weight: bold;
  font-size: var(--font-size-base);
  margin: 1rem 0;
}

.edit_item_sub_title {
  font-size: var(--font-size-small);
}
.edit__defects__calc {
  width: 90%;
  margin: 1rem auto;
  border: 2px solid var(--color-black);
  padding: 1rem;
}

.edit__defects__answer {
  width: 50px;
  height: auto;
  border: 1px solid;
  vertical-align: baseline;
  border: none;
}
.edit_basic {
  color: var(--color-black);
  border: none;
  text-align: center;
  font-size: xx-large;
  vertical-align: middle;
}
.edit_result {
  width: auto;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  margin: 2rem 1rem;
  padding: 1rem;
  color: var(--color-black);
  border-radius: 2%;
  border: 3px solid var(--color-yellow);
}

.edit_total_value {
  background: var(--color-yellow);

  margin: 5rem 0 1rem;
  padding: 1rem;
  color: var(--color-white);
  font-size: var(--font-size-X-large);
  font-weight: 900;
}

.edit__input__small {
  width: 50px;
  height: 50px;
  border: 2px solid var(--color-yellow);
}
.edit__input__medium {
  width: 100%;
  max-width: 180px;
}
.edit__sub__value {
  min-width: 50px;
  height: 50px;
  line-height: 50px;
  font-size: x-large;
  color: var(--color-black);
  border: 2px solid var(--color-black);
  text-align: center;
  margin: 0.5rem;
  background: var(--color-white);
  border: none;
}

.edit__btn__box {
  width: auto;
  display: flex;
  align-items: flex-end;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: space-evenly;
  position: fixed;
  top: 110px;
  right: 5%;
}

.edit_error {
  color: red;
}

@media screen and (min-width: 768px) and (max-width: 1000px) {
  .edit_error {
    grid-area: 11/1/12/3;
  }
}

@media screen and (min-width: 1000px) {
  .edit_error {
    width: 100%;
    grid-area: 9/1/10/4;
  }
}

.active.menu {
  display: block;
  list-style: none;
  padding: 0;
}

.edit__wrap {
  width: 100%;
  max-width: 768px;
  min-width: 300px;
  margin: 0 auto;
  background: var(--color-white);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  background: var(--color-yellow-10);
}

.edit__contents_header_item {
  background: #c47817;
  color: var(--color-white);
  padding: 0.5rem;
  border-radius: 10px;
}
.edit__contents_header_value {
  background: #c47817;
  color: var(--color-white);
  padding: 0.5rem;
  border-radius: 10px;
}

.edit__item {
  width: 100%;
  max-width: 500px;
  display: grid;

  align-items: center;
  line-height: 3rem;
  margin: 2rem 0;
  border-radius: 10px;
  background: var(--color-white);
}

.edit__data {
  position: relative;
  width: 100%;
  text-align: center;
  color: var(--color-black);
  padding: 1rem 0;
  border-radius: 10px;
}
.edit__roast select {
}
.edit__roast {
  height: 300px;
}
.edit__aroma {
  width: 100%;
}

.edit__aroma__data {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  padding: 0;
  border: none;
  margin: 0.5rem;
}
.edit__aroma__row {
  display: flex;
  flex-direction: row;
}
.edit__aroma__data label {
  width: 100%;
}
.edit__aroma__data select {
  padding: 0.5rem;
  width: auto;
}
.edit__aroma__data__header {
  width: 100%;
  height: 1.5em;
}
.edit__data__header {
  width: 100%;

  text-align: left;

  color: var(--color-black);
  padding: 0.5rem;
  border-radius: 10px;
}
.edit__data__header label {
  color: var(--color-yellow);
  border-bottom: 3px solid var(--color-yellow);
}

.edit__data input {
  border-radius: 5px;
  /* padding: 0.5rem; */
}
.edit__data select {
  /* max-width: 180px; */
  border-radius: 5px;
  /* padding: 0.5rem; */
}

.edit_point_range input {
  transform: rotate(90deg);
}
.edit__item__number {
  margin-top: 0;
  margin-right: 1rem;
}
.edit__item__mark {
  width: 36px;
  height: auto;
  margin-top: 0;
}
.edit__item__mark img {
  vertical-align: text-bottom;
}
/* 


-----group_create-----


*/

.group__contents {
  width: 100%;
  height: calc(100vh - 60px - 2rem);
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  box-sizing: border-box;
  margin: 1rem;
  background: white;
  transition-duration: 200ms;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 24px 48px;
  border: 1px solid transparent;
}
@media screen and (min-width: 768px) {
  .group_create_page {
    height: calc(100vh - 100px - 2rem);
  }
}
.group__card {
  width: 100%;
  height: auto;
  margin: 0px auto;
  padding: 2rem 2rem 3rem;
}
.group__form__title {
  font-family: var(--font-family-title);
  margin-bottom: 2rem;
  text-align: center;
  font-size: var(--font-size-large);
  color: var(--color-yellow);
}
.group__wrap {
  width: 100%;
  height: 100%;
}
.group__text {
  text-align: center;
  margin-bottom: 1rem;
}
.group__form__list {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}
.group__form__list input,
.group__form__list select {
  width: 100%;
  max-width: 300px;
  margin-bottom: 1rem;
}
.group__form__item {
  width: 300px;
  height: auto;
}
.group__create__btn,
.group__delete__btn,
.group__next__btn {
  width: auto;
  height: auto;
  display: block;
  border: 1px solid var(--color-yellow);
  margin: 0 auto;

  border-radius: 5px;
  box-shadow: 2px 2px 1px var(--color-box-shadow);
}
.group__next__btn {
  padding: 1rem;
}
.group__create__btn {
  padding: 0.5rem;
  background: var(--color-yellow-90);
  color: var(--color-white);
}
.group__delete__btn {
  padding: 0.5rem;
  background: var(--color-white);
  color: var(--color-yellow-90);
}
.group__create__btn:active,
.group__delete__btn:active,
.group__next__btn:active {
  transform: translate(3px, 3px);
  box-shadow: none;
  background: var(--color-yellow-50);
  color: var(--color-yellow);
}
.group__error__text {
  color: red;
  font-size: var(--font-size-xsmall);
  text-align: center;
}
/* 

-----search-----

*/
.searchBarBox {
  display: flex;
  width: auto;
  height: auto;
  margin: 0.5rem;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  background: var(--color-yellow-20);
  border-radius: 5px;
}
.searchBar_label {
  width: 100%;
  display: block;
  text-align: center;
  color: var(--color-yellow);
  font-size: var(--font-size-small);
}
.searchBar {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 0.5rem;
  margin-bottom: 0.5rem;
}
.searchBar:first-child {
  border-bottom: 2px solid var(--color-yellow);
}
.searchBar_select,
.searchBar_input {
  height: auto;
  width: 200px;
  border: 2px solid var(--color-yellow);
  border-radius: 5px;
  color: var(--color-yellow);
}
.searchBar_button {
  width: 30px;
  height: 30px;
  margin: 0 0.5rem;
}

/* 


--------------- sign -------------


*/
.hr {
  width: 100%;
  max-width: 300px;
  text-align: center;
  display: block;
  border: 0;
  border-top: 1px solid var(--color-black);
  margin: 2rem auto 1rem auto;
  overflow: visible;
}
.hr::before {
  content: "or";
  background: var(--color-white);
  color: #888;
  padding: 0 0.4rem;
  position: relative;
  top: -15px;
  vertical-align: middle;
}
.sign__contents {
  width: 100%;

  height: calc(100vh - 60px);
  background-color: var(--color-white);
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .sign__contents {
    height: calc(100vh - 100px);
  }
}

.sign__wrapper,
.sign__list {
  width: 100%;
  height: auto;
  display: block;
}
.sign__card {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.sign__wrapper {
  justify-content: center;
}
.sign__form {
  display: contents;
}
.sign__list {
  max-width: 500px;
  margin: 0 auto 2rem;
  justify-content: center;
}

.sign__item {
  text-align: center;
  margin-bottom: 1rem;
}
.sign_off_page {
  width: 100%;
  height: calc(100vh - 60px);
  text-align: center;
  position: relative;
}
.sign_off_text {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  transform: translateY(-50%);
}
.sign__btns {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}
.sign__submit {
  width: 100%;
  max-width: 100px;
  border: 1px solid;
  border-color: var(--color-white);
  border-radius: 5px;
  background: var(--color-yellow);
  color: var(--color-white);
  padding: 0.5rem;
  box-shadow: 2px 2px 0px var(--color-box-shadow);
}
.sign__btn {
  width: 100%;
  max-width: 200px;
  box-shadow: 2px 2px 0px var(--color-box-shadow);
  text-align: center;

  font-size: var(--font-size-base);

  border-radius: 1rem;
}
.sign__btn:active {
  color: var(--color-yellow);
}
.sign__submit:active {
}
.sign__btn:active,
.sign__submit:active {
  background: transparent;
  transform: translate(2px);
  transition-duration: 0.2s;
  box-shadow: inset 2px 2px 5px var(--color-box-shadow);
}

.sign_out_btn {
  width: 100%;
  margin: 0.5rem 0;
  padding: 0.5rem 1rem;
  color: var(--color-white);
  background: var(--color-yellow-80);
  font-size: var(--font-size-large);
  border: 0.5px solid var(--color-yellow-10);
  border-radius: 3px;
  box-shadow: 3px 3px var(--color-box-shadow);
}
.sign_out_btn:active {
  background: var(--color-yellow-30);
  color: var(--color-yellow);
  box-shadow: inset 3px 3px var(--color-box-shadow);
}
.sign_pointBox {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sign_point {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: var(--font-size-base);
  color: var(--color-yellow);
  background: #ffffffe6;
  position: absolute;
  top: 50px;
  padding: 1rem;
}
.sign_pointText {
  width: 100%;
  margin-top: 10rem;
}
.sign_pointImg {
  width: 36px;
  height: auto;
  box-shadow: 3px 3px var(--color-box-shadow);
  background: var(--color-yellow-90);
  border-radius: 5px;
  position: relative;
  z-index: var(--z-index-popup);
}
.sign_pointImg:active {
  background: #ffffff;
  box-shadow: inset 3px 3px var(--color-box-shadow);
}
.sign__link {
  text-align: center;
}
.sign__link span {
  color: var(--color-yellow);
}
.sign__link > a.small__font {
  color: var(--color-black);
}
.sign__link:hover > a.small__font {
  text-decoration: underline;
  color: var(--color-yellow);
}
.sign_point_button {
  background: var(--color-yellow);
  color: var(--color-white);
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 2px 2px 2px #33333333;
  margin: 1rem auto;
}
.sign_point_button:active {
  background: var(--color-white);
  box-shadow: inset 2px 2px 2px var(--color-black);
  transform: translate(2px, 2px);
  color: var(--color-black);
}
@media screen and (min-width: 768px) {
  .sign__item {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
  }
  .sign_off_page {
    height: calc(100vh - 100px);
  }
}
/*

----------profile----------


*/
.profile__contents {
  width: 100%;
  min-width: 300px;
  max-width: 1000px;
  height: calc(100vh - 60px - 2rem);
  border-radius: 5px;
  margin: 1rem auto;
  background: var(--color-yellow-30);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.profile__card {
  width: 100%;
  max-width: 500px;
  height: auto;
}
.profile__list {
  width: 100%;
  max-width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: 1rem auto;
}
.profile__item {
  width: 100%;
  max-width: 500px;
  height: auto;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}
.profile__title {
  width: 100%;
  height: auto;
  text-align: center;
  background: var(--color-yellow);
  color: var(--color-white);
  margin-top: 0;
  padding: 0.5rem;
  border-radius: 5px 5px 0 0;
}
.profile__value {
  width: 100%;
  height: auto;
  text-align: center;
  border-radius: 0 0 5px 5px;
  background: var(--color-white);
  margin-top: 0;
  overflow-wrap: break-word;
}

.profile__user__list {
}
.profile__user__list .profile__user__item:not(:first-child) {
}
.profile__user__item {
}

.profile__item__title {
  background: var(--color-yellow);
  color: var(--color-white);
}
.profile__item__value {
  border-radius: 0 0 5px 5px;
  background: var(--color-white);
}
.profile__setting {
  width: 100%;
  max-width: 500px;
  margin: 1rem auto;
}
.profile__wrap {
  width: 100%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
}
.profile__form {
  display: contents;
}
.profile__setting__item {
  margin-top: 1rem;
}
.profile__setting__label {
  background: var(--color-yellow);
  color: var(--color-white);
}

.profile__setting__value {
  margin-top: 0;
  padding: 0.5rem 0;
}
.profile__setting__input {
  background-color: #eee;
}

.profile__btn__group {
}

.profile__btn {
  padding: 0.5rem;
  border-radius: 5px;
  margin: 0.5rem 0;

  box-shadow: 3px 3px var(--color-box-shadow);
}
.profile__btn__item:not(:last-child) {
  color: var(--color-white);
}
.profile__btn:active {
  box-shadow: inset 1px 2px var(--color-box-shadow);
  transform: translate(3px);
}
.profile__signout__btn,
.profile__link__btn {
  border: 0.1rem solid var(--color-black);
  background-color: var(--color-yellow);
}

.profile__delete {
  width: 100%;
  max-width: 500px;
  display: block;
  background: #ed1a3d;
}
.profile__delete__btn {
  background-color: var(--color-white);
  color: #ed1a3d;
}
.profile__save__btn {
  background: var(--color-yellow);
  color: var(--color-white);
}
@media screen and (min-width: 768px) {
  .profile__contents {
    height: calc(100vh - 100px - 2rem);
  }
}
@media screen and (min-width: 768px) {
  .profile__list {
    max-width: 500px;
  }
}
/* 
----------Loading----------
*/
.loading_page {
  background: var(--color-yellow-10);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.loading_txt {
  width: 100%;
  text-align: center;
  font-weight: bold;
  font-size: var(--font-size-X-large);
  color: var(--color-yellow);
}
.loading_point {
}

/* 
----------uncertified----------
 */
.uncertified_page {
  background: var(--color-yellow-10);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}
.uncertified_txt {
  width: 100%;
  height: 1em;
  text-align: center;
  font-weight: bold;
  font-size: var(--font-size-X-large);
  color: var(--color-yellow);
}
.uncertified_btn {
  width: 100%;
  max-width: 320px;
  border: 1px solid;
  border-radius: 5px;
  background: var(--color-yellow);
  text-align: center;
  font-weight: bold;
  font-size: var(--font-size-X-large);
  color: var(--color-white);
}
